In [12]:
nama = "zaky"
usia = 18
sudah_menikah = False
hobi = "mencintaimu"
mantan = 100

print('nama:',nama)
print('usia:',usia)
print('sudah_menikah :',sudah_menikah)
print('hobi:',hobi)
print('mantan:',mantan)

nama: zaky
usia: 18
sudah_menikah : False
hobi: mencintaimu
mantan: 100

In [14]:
a, b, c, = 1, 2, "mantap cuy"

print('a:',a)
print('b:',b)
print('c:',c)

a: 1
b: 2
c: mantap cuy

In [15]:
d = e = f = 10
print('d:',d)
print('e:',e)
print('f:',f)

d: 10
e: 10
f: 10

In [18]:
kota = 'sukabumi'
luas = 20000

print(type(kota))
print(type(luas))

<class 'str'>
<class 'int'>

In [22]:
panjang = 5
lebar = 10.5
luas = panjang * lebar

print(panjang, '*', lebar, '=',luas)
print("Tipe dari variabel panjang:", type(panjang))
print("Tipe dari variabel lebar", type(lebar))
print("Tipe dari variabel luas", type(luas))

5 * 10.5 = 52.5
Tipe dari variabel panjang: <class 'int'>
Tipe dari variabel lebar <class 'float'>
Tipe dari variabel luas <class 'float'>

In [33]:
alas = 10
tinggi = 5
rumus_luas = alas*tinggi*0.5

print('luas segitiga:', alas,'*',tinggi,'*',0.5,'=',rumus_luas)

luas segitiga: 10 * 5 * 0.5 = 25.0

In [36]:
#itung umur
tahun_lahir = 2004
tahun_sekarang = 2022
itung_umur = tahun_sekarang-tahun_lahir

print('itung umur:',tahun_sekarang,'-',tahun_lahir,'=',itung_umur)

itung umur: 2022 - 2004 = 18

In [59]:
#biodata
nama_depan = "Zaky"
nama_belakang = "Heryadi"
nama_lengkap = nama_depan + ' ' + nama_belakang
usia = '18'
alamat = 'cicurug'
kata_mutiara = "di dunia ini tidak ada yang tidak mungkin"

print(nama_lengkap, '(' + usia +')', ',', 'dari' , alamat, ', kata mutiara :',kata_mutiara)

Zaky Heryadi (18) , dari cicurug , kata mutiara : di dunia ini tidak ada yang tidak mungkin

In [44]:
print ('saya'*3)

sayasayasaya

In [47]:
print ('saya'+'saya')

sayasaya

In [51]:
print("saya\nsaya\nsaya")

saya
saya
saya

In [54]:
print("""
saya
saya
saya""")

saya
saya
saya

In [57]:
saya_orang_indonesia = True
saya_adalah_robot = False

print('Apakah saya orang indonesia?', saya_orang_indonesia)
print('Apakah saya adalah robot?', saya_adalah_robot)
print('Tipe dari saya_orang_indonesia',type(saya_orang_indonesia))
print('Tipe dari saya_adalah_robot',type(saya_adalah_robot))

Apakah saya orang indonesia? True
Apakah saya adalah robot? False
Tipe dari saya_orang_indonesia <class 'bool'>
Tipe dari saya_adalah_robot <class 'bool'>

In [63]:
foo = 12 < 10
print(foo)

foo = 10 < 12
print(foo)

foo = "A" == "a"
print(foo)

False
True
False